.header {
    position: relative;
    padding: 10px 20px;
    border-bottom: 1px solid var(--color-gray);
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: var(--container-width);
    margin: 0 auto;
    position: relative;
}
