.signUpInform {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    max-width: 340px;
    margin-bottom: 30px;
}

.signUpInform__title {
    margin: 0 0 20px;
    font-size: var(--font-size-400);
    text-align: center;
}

.signUpInform__link {
    margin-left: 0.3rem;
    color: var(--color-blue-200);
    transition: 0.1s color ease;
}

.signUpInform__link:hover {
    color: var(--color-blue-300);
}
